<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Internal Server Error</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/fortis-code-money-bag.svg') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>
        <div class="fortis-code">
            <div class="fortis-code-logo"><b class="gray">500</b>&nbsp;-&nbsp;Internal Server Error</div>
            <div class="fortis-code-subheading">Something went wrong on our end. Please try again later.</div>
        </div>
    </body>
</html>