<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FortisCode-CryptoFortis</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    </head>
    <body>
        <div class="fortis-code">
            <div class="fortis-code-logo">Fortis<b class="gray">Code</b></div>
            <div class="fortis-code-subheading">cryptofortis by Israel Mafabi Emmanuel</div>
        </div>
    </body>
</html>